<h1>Dice Game</h1>
<p>How to play:</p>
<ul>
	<li>7 or 11 you win</li>
	<li>2, 3 or 12 you lose</li>
	<li>4, 5, 6, 8, 9, or 10 becomes the point</li>
	<li>Hit the point again before a 7 and you win!  7 before the point and you lose...</li>
</ul>
<a href="/dice/opening_roll">Let's roll!</a>