<h1>This is Rock Paper Scissors!</h1>

<p>Pick your weapon of choice:</p>
<a href="/rps_play?weapon=rock">Rock</a>
<a href="/rps_play?weapon=paper">Paper</a>
<a href="/rps_play?weapon=scissors">Scissors</a>